@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>
        This is a site for the development of Image classification and viewing technologies.<br />
        It is also a test bed for the development of my learnings for the development of cognitive services.<br />
        In particular the development of an auto classification system and tag searching for multimedia content.<br />
    </p>
</div>

<div class="text-md-left">
    <p>
        <img 
    </p>
</div>